<div class="contextual">
  <%= link_to l(:label_history), history_part_path(@part),
            :class => 'icon icon-history' %>
</div>

<%= title [@part.name, part_path(@part, @part.name, :version => nil)],
      [l(:label_history), history_part_path(@part, @part.name)],
      "#{l(:label_version)} #{@diff.version_to.version}" %>

<p>
  <%= l(:label_version) %> <%= link_to @diff.version_from.version, :action => 'show', :id => @part, :version => @diff.version_from %>
  <em>(<%= @diff.version_from.author ?
               @diff.version_from.author.name : l(:label_user_anonymous)
        %>, <%= format_time(@diff.version_from.updated_at) %>)</em>
  &#8594;
  <%= l(:label_version) %> <%= link_to @diff.version_to.version, :action => 'show',
                               :id => @part,
                               :version => @diff.version_to.version
                            %>/<%= @part.version %>
  <em>(<%= @diff.version_to.author ?
               link_to_user(@diff.version_to.author.name) : l(:label_user_anonymous)
        %>, <%= format_time(@diff.version_to.updated_at) %>)</em>
</p>

<div class="text-diff">
  <%= simple_format_without_paragraph @diff.to_html %>
</div>