<h2><%= l(:label_home) %></h2>

<div class="splitcontentleft">
  <%= textilizable Setting.welcome_text %>
  <% if @news.any? %>
  <div class="news box">
  <h3><%=l(:label_news_latest)%></h3>
    <%= render :partial => 'news/news', :collection => @news %>
    <%= link_to l(:label_news_view_all), :controller => 'news' %>
  </div>
  <% end %>
  <%= call_hook(:view_welcome_index_left, :projects => @projects) %>
</div>

<div class="splitcontentright">
    <% if @projects.any? %>
  <div class="projects box">
  <h3><%=l(:label_project_latest)%></h3>
    <ul>
    <% for project in @projects %>
      <% @project = project %>
      <li>
      <%= link_to_project project %> (<%= format_time(project.created_on) %>)
      <%= textilizable project.short_description, :project => project %>
      </li>
    <% end %>
    <% @project = nil %>
    </ul>
  </div>
  <% end %>
    <%= call_hook(:view_welcome_index_right, :projects => @projects) %>
</div>

<% content_for :header do %>

<div id="teaser" class="part">
  
    <h1>CRM for small business </h1>
    <h2>Stripe makes it easy to start accepting<br> credit cards on the web today.</h2>
    <a href="/projects" class="button blue" id="km_top_button"><span>Browse plugins</span></a>
    <a href="/projects" class="button blue" id="km_top_button"><span>Order</span></a>
    <a href="http://demo.redminecrm.com" class="button green" id="km_top_button"><span>Live demo</span></a>
    <%= image_tag("windows.png", :plugin => "redmine_cms", :class => "illustration right-bottom-coner", :width => 500) %>
</div>
<% end %>


<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>
