<p>  
  <label><%= l(:label_hide_my_page) %></label>
  <%= check_box_tag 'settings[hide_my_page]', 1, @settings[:hide_my_page] %>
</p>
<p>  
  <label><%= l(:label_hide_home_page) %></label>
  <%= check_box_tag 'settings[hide_home_page]', 1, @settings[:hide_home_page] %>
</p>
<p>  
  <label><%= l(:label_hide_projects_page) %></label>
  <%= check_box_tag 'settings[hide_projects_page]', 1, @settings[:hide_projects_page] %>
</p>
    