<div class="box tabular">
<p><%= f.text_field :name, :size => 30, :required => true, :label => l(:label_cms_page_name)  %></p>
<p><%= f.text_field :title, :size => 30, :required => true, :label => l(:label_cms_page_title) %></p>
<p><%= f.text_field :summary, :size => 100, :label => l(:label_cms_page_summary) %></p>
<% if @page.valid_parents.any? %>
<p><%= f.select :parent_id, pages_options_for_select(@page.valid_parents), :include_blank => true, :label => :label_cms_parent_page %></p>
<% end %>
<p><%= f.select :status_id, options_for_select([["Locked", RedmineCms::STATUS_LOCKED], ["Active", RedmineCms::STATUS_ACTIVE]], @page.status_id), :label => l(:label_cms_page_status)  %></p>  

<fieldset><legend><%= l(:label_cms_seo) %></legend>
  <p><%= f.text_field :keywords, :size => 100, :label => l(:label_cms_keywords)  %></p>
  <p><%= f.text_area :description, :rows => 5, :label => l(:label_cms_description) %></p> 
</fieldset>
</div>




