<div class="contextual">
  <%= link_to l(:button_edit), edit_page_path(@page), :class => 'icon icon-edit' if User.current.admin? %>
</div>

<%= page_breadcrumb(@page) unless @project %>

<% if params[:title] %>
<div class="page-title">
  <h1><%= @page.title %></h1>
  <% unless @page.summary.blank? %>
  <p id="page_summary"><%= @page.summary %></p>
  <% end %>
  <hr>
</div>
<% end %>
<div class="wiki page <%= @page.name %>">
  <% cache @page do %>
    <%= render_page @page %>
  <% end %>
</div>

<% html_title(@page.title) -%>